.vbpcComments > div > header {
	/*padding: 14px 21px 0;*/
}

.vbpcComments > div > header > h3 {
	font-size: 1.2rem;
	font-weight: bold;
}

.vbpcComments > div > div {
	margin-top: 7px;
	/*padding: 0 21px 14px;*/
}

.vbpcComments {
	border-top: 1px dotted #cccccc;
	margin-bottom: 21px;
	padding-top: 7px;
}

/* User */
.vbpcComments > div > div > table > tbody > tr > td:nth-child(1) {
	text-align: right;
	width: 100px;
	white-space: nowrap;
	padding-right: 5px;
}

/* Text */
.vbpcComments > div > div > table > tbody > tr > td:nth-child(2) {
	padding-left: 5px;
	width: 100%;
}

/* Time */
.vbpcComments > div > div > table > tbody > tr > td:nth-child(3) {
	text-align: right;
	white-space: nowrap;
	min-width: 85px;
}

/* Buttons */
.vbpcComments > div > div > table > tbody > tr > td:nth-child(n+4) {
	text-align: right;
	white-space: nowrap;
	min-width: 16px;
}
